%h1 Listing indicators

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Category
      %th
      %th
      %th
      
  %tbody
    - @indicators.each do |indicator|
      %tr
        %td= indicator.id
        %td= indicator.name
        %td= indicator.category
        %td= link_to 'Show', indicator
        %td= link_to 'Edit', edit_indicator_path(indicator)
        %td= link_to 'Destroy', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Indicator', new_indicator_path
